{% extends "::layout.html.twig" %}

{% block body -%}
    <h1>Composante list</h1>

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Famille</th>
                <th>Prixunitaire</th>
                <th>Prix</th>
                <th>Image</th>
                <th>Nompublic</th>
                <th>Calories</th>
                <th>Grammage</th>
                <th>Etat</th>
                <th>Ordre</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('composante_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.famille }}</td>
                <td>{{ entity.prixUnitaire }}</td>
                <td>{{ entity.prix }}</td>
                <td>{{ entity.image }}</td>
                <td>{{ entity.nomPublic }}</td>
                <td>{{ entity.calories }}</td>
                <td>{{ entity.grammage }}</td>
                <td>{{ entity.etat }}</td>
                <td>{{ entity.ordre }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a class="glyphicon glyphicon-eye-open" href="{{ path('composante_show', { 'id': entity.id }) }}"></a>
                    </li>
                    <li>
                        <a class="glyphicon glyphicon-edit" href="{{ path('composante_edit', { 'id': entity.id }) }}"></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class="list-inline">
        <li>
            <a class ="glyphicon glyphicon-plus" href="{{ path('composante_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
