{% extends "::layout.html.twig" %}

{% block body -%}
    {# Underscore templates for the uploader #}
    {% include "PunkAveFileUploaderBundle:Default:templates.html.twig" %}
    <h1 class="page-header">Composante creation</h1>
    {#{ form(form) }#}

    <form action="{{ path('composante_create', { editId: entity.image }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    	{#{ form_widget(form) }#}
    	
       
    	<div class="form-group">
			{{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'col-sm-2  control-label'}}) }}
            <div class="col-sm-6">
                
                {{ form_widget(form.nom, {'attr': {'class': 'form-control','placeholder': 'Nom'}}) }}
                {{ form_errors(form.nom) }}
            </div>
        </div>


        <div class="form-group">

            {{ form_label(form.famille, 'Famille', {'label_attr': {'class': 'col-sm-2  control-label'}}) }}
            <div class="col-sm-6">
                
                {{ form_widget(form.famille, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.famille) }}

            </div>
        </div>

        <div class="form-group">

            {{ form_label(form.sousfamille, 'Sous famille', {'label_attr': {'class': 'col-sm-2  control-label'}}) }}
            <div class="col-sm-6">
                
                {{ form_widget(form.sousfamille, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.sousfamille) }}

            </div>
        </div>
        
        

        <div class="form-group">
			{{ form_label(form.prixUnitaire, 'Prix unitaire', {'label_attr': {'class': 'col-sm-2  control-label'}}) }}
            <div class="col-sm-3">
                
                {{ form_widget(form.prixUnitaire, {'attr': {'class': 'form-control','placeholder': 'Prix unitaire'}}) }}
                {{ form_errors(form.prixUnitaire) }}
            </div>
        </div>


        <div class="form-group">
			{{ form_label(form.prix, 'Prix', {'label_attr': {'class': 'col-sm-2  control-label'}}) }}
            <div class="col-sm-3">
                
                {{ form_widget(form.prix, {'attr': {'class': 'form-control','placeholder': 'Prix'}}) }}
                {{ form_errors(form.prix) }}
            </div>
        </div>

        

        <div class="form-group">
			{{ form_label(form.nomPublic, 'Nom public', {'label_attr': {'class': 'col-sm-2  control-label'}}) }}
            <div class="col-sm-6">
                
                {{ form_widget(form.nomPublic, {'attr': {'class': 'form-control','placeholder': 'Nom public'}}) }}
                {{ form_errors(form.nomPublic) }}
            </div>
        </div>

        <div class="form-group">
			{{ form_label(form.calories, 'Calories', {'label_attr': {'class': 'col-sm-2  control-label'}}) }}
            <div class="col-sm-3">
                
                {{ form_widget(form.calories, {'attr': {'class': 'form-control','placeholder': 'Calories'}}) }}
                {{ form_errors(form.calories) }}
            </div>
        </div>

        <div class="form-group">
			{{ form_label(form.grammage, 'Grammage', {'label_attr': {'class': 'col-sm-2  control-label'}}) }}
            <div class="col-sm-3">
                
                {{ form_widget(form.grammage, {'attr': {'class': 'form-control','placeholder': 'Grammage'}}) }}
                {{ form_errors(form.grammage) }}
            </div>
        </div>
         <div class="form-group">
            {{ form_label(form.etat, 'Etat'|raw, {'label_attr': {'class': 'col-sm-2  control-label'}}) }}
            <div class="col-sm-3">
                {% for child in form.etat %}
                    <label class="radio-inline">
                       {{ form_widget(child) }}{{ form_label(child) }}
                    </label>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
			{{ form_label(form.ordre, 'Ordre', {'label_attr': {'class': 'col-sm-2  control-label'}}) }}
            <div class="col-sm-3">
                
                {{ form_widget(form.ordre, {'attr': {'class': 'form-control','placeholder': 'Ordre'}}) }}
                {{ form_errors(form.ordre) }}
            </div>
        </div>

        <div style="clear:both;"></div>

        {# Hydrated by javascript #}
        
        <div class="file-uploader"></div>

        {{ form_rest(form) }}
        <div>
        	<button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
    	
    	

	</form>



	<ul class="record_actions list-inline">
		<li>
			<a  class="glyphicon glyphicon-list-alt" href="{{ path('composante') }}">
			Back to the list
			</a>
		</li>
	</ul>

<script type="text/javascript">

    // Enable the file uploader

    $(function() {
        new PunkAveFileUploader({
            'uploadUrl': {{ path('composante_upload', { editId: entity.image }) | json_encode | raw }},
            'viewUrl': {{ ('/uploads/tmp/attachments/' ~ entity.image)  | json_encode | raw }},
            'el': '.file-uploader',
            'existingFiles': {{ punkave_get_files('tmp/attachments/' ~ entity.image) | json_encode | raw }},
            'delaySubmitWhileUploading': '.edit-form'
        });
    });
</script>

{% endblock %}
